* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.heroes {
    display: flex;
    width: 100%;
    height: 650px;
    background-color: #1597BB;
    justify-content: space-around;
    align-items: center;
}
.heroes-pict {
    width: 600px;
    height: 600px;
    margin-left: 200px;
    margin-top: 30px;
}
.heading {
    font-size: 2.2rem;
    font-family: 'Gabarito', sans-serif;
    margin-right: 300px;
    margin-bottom: 80px;
    color: #7B113A;
}
.heading h1 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.heading p {
    font-size: 35px;
    margin-left: 3px;
}
.btn {
    display: inline-block;
    margin-top: 50px;
    margin-right: 43px;
    margin-left: 2px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline-offset: 4px;
}
.resume {
    background-color: hsla(159, 100%, 25%, 1);
}
.resume  .btn-front {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 22px;
    background-color: hsla(159, 100%, 43%, 1);
    color: white;
    transform: translateY(-6px);
}
.project {
    background-color: hsla(17, 100%, 25%, 1);
}
.project  .btn-front {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 22px;
    background-color: hsla(17, 100%, 43%, 1);
    color: white;
    transform: translateY(-6px);
}
.contact {
    background-color: hsla(60, 100%, 25%, 1);
}
.contact  .btn-front {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 22px;
    background-color: hsla(60, 100%, 43%, 1);
    color: white;
    transform: translateY(-6px);
}
.btn:active .btn-front {
    transform: translateY(-2px);
}
.Profile {
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.profile-head {
    text-align: center; 
    margin-top: 50px;   
}
.profile-head > h1 {
    font-size: 64px;
    font-family: 'Gabarito', sans-serif;
    margin-bottom: 45px;
}
.profile-head p {
    font-size: 28px;
    margin-left: 350px;
    margin-right: 350px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.profile-content {
    display: flex;
    width: 75%;
}
.profile-content p {
    font-size: 1.2rem;
    margin-left: 150px;
    margin-top: 110px;
    font-family: 'Inconsolata', monospace;
    text-align: justify;
}
.profile-content p::first-letter {
    initial-letter: 2;
    margin-right: 0.7rem;
}
.profile-content img {
    width: 500px;
    height: 400px;
    margin-top: 30px;
}
.form-footer {
    display: flex;
    width: 100%;
    height: 280px;
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #150E56;
    color: white;
}
footer h1{
    text-align: center;
    font-family: 'Gabarito', sans-serif;
    font-size: 3.5rem;
}
.list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.list-icon a {
    text-decoration: none;
    color: white;
}
.icon {
    margin-right: 80px;
    cursor: pointer;
}
.linkedin {
    margin-right: 0;
}
.icon img {
    width: 40px;
    transition: transform .2s;
    padding-bottom: 5px;
    margin-top: 50px;
}
.icon img:hover {
    transform: scale(1.2); 
}
.icon p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
}
.copyright {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 0.8rem;
}
@media (max-width: 1700px) {
    .heroes {
        height: 650px;
    }
    .heroes-pict {
        width: 400px;
        height: 400px;
        margin-left: 100px;
        margin-top: 20px;
    }
    .heading {
        font-size: 1.8rem;
        font-family: 'Gabarito', sans-serif;
        margin-right: 100px;
        margin-bottom: 50px;
        color: #7B113A;
    }
    .heading h1 {
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    }
    .heading p {
        font-size: 35px;
        margin-left: 3px;
    }
    .btn {
        display: inline-block;
        margin-top: 50px;
        margin-right: 35px;
        margin-left: 2px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        outline-offset: 4px;
    }
    .resume {
        background-color: hsla(159, 100%, 25%, 1);
    }
    .resume  .btn-front {
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 18px;
    }
    .project  .btn-front {
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 18px;
    }
    .contact  .btn-front {
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 18px;
    }
    .profile-head > h1 {
        font-size: 42px;
    }
    .profile-head p {
        font-size: 22px;
        margin-left: 280px;
        margin-right: 280px;
    }
    .profile-content p {
        font-size: 0.9rem;
        margin-left: 90px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .profile-content p::first-letter {
        initial-letter: 2;
        margin-right: 0.8rem;
    }
    .profile-content img {
        width: 400px;
        height: 300px;
    }
    .form-footer {
        margin-top: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    footer h1{
        font-size: 2.5rem;
    }
    .icon {
        margin-right: 60px;
    }
    .icon img {
        width: 30px;
    }
    .icon p {
        font-size: 0.8rem;
    }
    .linkedin {
        margin-right: 0;
    }
    .copyright {
        font-size: 0.6rem;
    }
}
@media (max-width: 1245px) {
    .heroes {
        display: flex;
        width: 100%;
        height: 650px;
    }
    .heroes-pict {
        width: 350px;
        height: 350px;
        margin-left: 100px;
        margin-top: 0px;
    }
    .heading {
        font-size: 1.65rem;
        margin-right: 90px;
        margin-bottom: 30px;
    }
    .heading p {
        font-size: 25px;
    }
    .btn {
        margin-top: 30px;
        margin-right: 30px;
        border-radius: 8px;
    }
    .resume  .btn-front {
        display: inline-block;
        padding: 12px 24px;
        border-radius: 8px;
        font-size: 14px;
    }
    .project  .btn-front {
        display: inline-block;
        padding: 12px 24px;
        border-radius: 8px;
        font-size: 14px;
    }
    .contact  .btn-front {
        display: inline-block;
        padding: 12px 24px;
        border-radius: 8px;
        font-size: 14px;
    }
    .profile-head {
        margin-top: 30px;   
    }
    .profile-head > h1 {
        font-size: 36px;
        margin-bottom: 25px;
    }
    .profile-head p {
        font-size: 16px;
        margin-left: 230px;
        margin-right: 230px;
    }
    .profile-content p {
        font-size: 0.8rem;
        margin-left: 70px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .profile-content p::first-letter {
        initial-letter: 2;
        margin-right: 0.7rem;
    }
    .profile-content img {
        width: 400px;
        height: 300px;
        margin-top: 30px;
    }
    .form-footer {
        margin-top: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    footer h1{
        font-size: 2rem;
    }
    .icon {
        margin-right: 40px;
    }
    .icon img {
        width: 25px;
    }
    .icon p {
        font-size: 0.6rem;
    }
    .linkedin {
        margin-right: 0;
    }
    .copyright {
        font-size: 0.5rem;
    }
}
@media (max-width: 450px) {
    .heroes {
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .heroes-pict {
        width: 200px;
        height: 200px;
        margin-left: 0;
        margin-top: 0;
    }
    .heading {
        font-size: 1rem;
        margin-right: 0;
        margin-bottom: 0;
    }
    .heading h1 span::before {
        content: "\A";
        white-space: pre;
    }
    
    .heading p {
        font-size: 15px;
        margin-left: 3px;
    }
    .btn {
        display: inline-block;
        margin: 20px 10px 10px 10px;
    }
    .resume  .btn-front {
        padding: 8px 16px;
        font-size: 12px;
    }
    .project  .btn-front {
        padding: 8px 16px;
        font-size: 12px;
    }
    .contact  .btn-front {
        padding: 8px 16px;
        font-size: 12px;
    }
    .Profile {
        height: 500px;
    }
    .profile-head {
        margin-top: 20px;   
    }
    .profile-head > h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .profile-head p {
        font-size: 14px;
        margin-left: 8px;
        margin-right: 8px;
    }
    .profile-content {
        flex-direction: column;
        width: 100%;
    }
    .profile-content p {
        font-size: 12px;
        margin: 0px 25px 0px 25px;
    }
    .profile-content p::first-letter {
        initial-letter: 1rem;
        margin-right: 0.3rem;
    }
    .profile-content img {
        width: 150px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        place-self: center;
    }
    .form-footer {
        height: 100px;
        margin-top: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    footer h1{
        font-size: 1rem;
    }
    .icon {
        margin-right: 20px;
    }
    .linkedin {
        margin-right: 0;
    }
    .icon img {
        width: 15px;
        padding-bottom: 2px;
        margin-top: 20px;
    }
    .icon p {
        font-size: 8px;
        margin-bottom: 20px;
    }
    .copyright {
        font-size: 0.3rem;
    }
}
